body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fec7e8;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gif {
    width: 150px; 
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.yes {
    background-color: #10b981;
    color: white;
    position: relative;
    z-index: 10;
}

.no {
    background-color: #ef4444;
    color: white;
    position: relative;
    z-index: 5;
}

